.product-detail{
    height: 600px;
   
    background-color: #f2f2f2;
}
.product-detail .product-top{
    margin: 0 auto;
    width: 1200px;
    height: 50px;
}
.product-detail .product-top h1{
    font-size: 24px;
    font-weight: 400;
    margin-top: 5px;
}
.product-detail .product-top p{
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
    color: #8e8e8e;
}
.product-detail .content{
    margin: 0 auto;
    background-color: #fff;
    width: 1200px;
    height: 500px;
}
.product-detail .left-box{
    float: left;
    width: 340px;
    height: 500px;
}
.product-detail .right-box{
    float: left;
    width: 860px;
    height: 500px;
}
.magnifier-container{
    height: 380px !important;
}
.product-detail .right-box h3{
    text-indent: 20px;
    font-size: 20px;
    padding-top: 25px;
}
.product-detail .right-box .book-title{
    height: 140px;
}
.product-detail .right-box .book-title h3{
    height: 40px;
    text-indent: 20px;
    font-size: 20px;
    padding-top: 20px;
}
.product-detail .right-box .book-title p:nth-child(2){
    height: 40px;
    font-size: 18px;
    text-indent: 20px;
    color: #ff6700;
}
.product-detail .right-box .book-title p:last-child{
    font-size: 16px;
    text-indent: 20px;
    color: #8b8b8b;
}
.product-detail .right-box .book-price{
    font-size: 16px;
    height: 140px;
    color: #959595;
    position: relative;
    background-color: #f5f5f5;
}
.product-detail .right-box .book-price p{
    text-indent: 20px;
}
.product-detail .right-box .book-price p i{
    color: #ff6700;
    font-size: 20px;
}
.product-detail .right-box .book-price p:nth-child(2){
    margin-top: 20px;
}
.product-detail .right-box .book-price p:nth-child(2) span{
    color: #ff6700;
}
.product-detail .right-box .book-price p:nth-child(3){
    margin-top: 40px;
    
}
.product-detail .right-box .book-price p:nth-child(3) span{
    font-size: 20px;
    font-weight: 700;
    color: #ff6700;
}
.product-detail .right-box .book-price p:last-child{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 100px;
    height: 50px;
    border-left: 3px solid #d9d9d9;
    text-align: center;
}
.product-detail .right-box .book-price p:last-child span{
    color: #ff6700;
    margin-right: 0px;
}
.product-detail .right-box .book-shopping{
    height: 220px;
    position: relative;
}
.product-detail .right-box .book-shopping p:first-child{
    margin-top: 20px;
    font-size: 18px;
    text-indent: 20px;
    color: #959595;
}
.product-detail .right-box .book-shopping p:first-child button{
    color: #959595;
    border: 1px solid #ccc;
    width: 100px;
    height: 40px;
}
.product-detail .right-box .book-shopping input{
    margin-left: 20px;
    width: 40px;
    height: 39px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #ccc;
    border-right: 0;
    color: #959595;
}
.product-detail .right-box .book-shopping .cart{
    width: 120px;
    height: 40px;
    position: relative;
    margin-top: 40px;
}
.product-detail .right-box .book-shopping .cart .add{
    position: absolute;
    top: 0;
    background-color: #e6e6e6;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
}
.product-detail .right-box .book-shopping .cart .reduce{
    position: absolute;
    top: 20px;
    background-color: #e6e6e6;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
}
.product-detail .right-box .book-shopping .shopcart{
    width: 200px;
    height: 60px;
    background-color: #ff6700;
    font-size: 24px;
    color: #fff;
    position: absolute;
    left: 105px;
    bottom: 90px;
    border: 1px solid #ff6700;
}
.product-detail .right-box .book-shopping .point{
    margin-top: 40px;
    font-size: 20px;
    color: #959595;
    text-indent: 40px;
}